<app-loading *ngIf="isLoading"></app-loading>
<div class="page">
    <div class="left">
        <div class="categories">
            <h4>Pesquisar</h4>
            <span class="divider"></span>
            <a *ngFor="let category of categories"
                (click)="onClickFilterMoviesByCategory(category.id)">{{category.name}}</a>
        </div>
    </div>
    <div class="right">
        <div class="bg-movies">
            <div class="card" *ngFor="let movie of movies">
                <div class="image" (click)="onClickShowMovie(movie.path)"><img
                        *ngIf="movie.auxiliaryProperties && movie.auxiliaryProperties.imageUrl"
                        [src]="movie.auxiliaryProperties.imageUrl" /></div>
                <div class="description">
                    <a class="send-to-list" (click)="onClickChangeFromList(movie)">
                        <i class="fas fa-star" *ngIf="movie.auxiliaryProperties.addedToList"></i>
                        <i class="far fa-star" *ngIf="!movie.auxiliaryProperties.addedToList"></i>
                    </a>
                    <h5>{{ movie.name }}</h5>
                    <div class="infos">
                        <p>{{movie.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-products" *ngIf="!movies">
            <i class="far fa-times-circle"></i>
            <p>Nenhum Filme encontrado</p>
        </div>
        <div class="paginator">
            <a (click)="decrementPage()"><i class="fas fa-angle-left"></i></a>
            <input [(ngModel)]="filters.page" type="number" (change)="changePage()" />
            <a (click)="incrementPage()"><i class="fas fa-angle-right"></i></a>
        </div>
    </div>
</div>