<div class="bg-top">
    <div class="bg-top-upper">
        <div class="logo" [routerLink]="'/home'">
            <strong style="color: white">LOGO</strong>
            <!-- <img src="../../../assets/images/logo-RockyTube-laranja.png" alt="Logo Topo Tag"> -->
        </div>
        <div class="find-product">
            <input type="text" [(ngModel)]="productName" placeholder="Buscar Filme" (keyup.enter)="onClickFindProducts()" />
            <button type="button" (click)="onClickFindProducts()">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="buttons">
            <div class="bgDropdown" *ngIf="loggedModel && loggedModel.user">
                <a (click)="onClickOutsideChangeDropdown()"><i class="fas fa-bars"></i></a>
                <div class="dropdown-items" (clickOutside)="openDropdown ? onClickOutsideChangeDropdown(false) : null"
                    *ngIf="openDropdown && !loggedModel.user.admin">
                    <a (click)="onClickLogout()">Sair</a>
                </div>
                <div class="dropdown-items" (clickOutside)="openDropdown ? onClickOutsideChangeDropdown(false) : null"
                    *ngIf="openDropdown && loggedModel.user.admin">
                    <a [routerLink]="'/movies'">Adicionar Filmes</a>
                    <a (click)="onClickLogout()">Sair</a>
                </div>
            </div>
            <a *ngIf="!(loggedModel && loggedModel.user)" [routerLink]="'/login'"><i class="far fa-user"></i></a>
        </div>
    </div>
    <div class="bg-top-lower">
        <div class="sub-category" *ngFor="let category of categories" (click)="onClickFilterProductsByCategory(category.id)">{{category.name}}</div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <div class="logo-rodape">
        <a>
            <!-- <img src="../../../assets/images/logo-RockyTube-laranja.png" alt="Logo TAG Rodapé"> -->
        </a>
        <p>v1.0.0 | Loja criada por RockyTube</p>
    </div>
</div>
