<div class="bg-top">
    <div class="bg-top-upper">
        <div class="logo" [routerLink]="'/home'">
            <strong>RockyTube</strong>
        </div>
        <div class="find-product">
            <input type="text" [(ngModel)]="movieName" placeholder="Buscar Filme" (keyup.enter)="onClickFindMovies()" />
            <button type="button" (click)="onClickFindMovies()">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="buttons">
            <div class="bgDropdown" *ngIf="loggedModel && loggedModel.user">
                <a (click)="onClickOutsideChangeDropdown()"><i class="fas fa-bars"></i></a>
                <div class="dropdown-items" (clickOutside)="openDropdown ? onClickOutsideChangeDropdown(false) : null"
                    *ngIf="openDropdown && !loggedModel.user.admin">
                    <a (click)="onClickLogout()">Sair</a>
                </div>
                <div class="dropdown-items" (clickOutside)="openDropdown ? onClickOutsideChangeDropdown(false) : null"
                    *ngIf="openDropdown && loggedModel.user.admin">
                    <a [routerLink]="'/movies'">Adicionar Filmes</a>
                    <a [routerLink]="'/admin/users'">Usuários</a>
                    <a [routerLink]="'/admin/categories'">Categorias</a>
                    <a (click)="onClickLogout()">Sair</a>
                </div>
            </div>
            <a *ngIf="!(loggedModel && loggedModel.user)" [routerLink]="'/login'"><i class="far fa-user"></i></a>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <div class="logo-rodape">
        <p>v1.0.0 | criado por RockyTube</p>
    </div>
</div>
