@import "~ngx-toastr/toastr";
@import "./variables.scss";
.bg-top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    position: fixed;
    top: 0;
    z-index: 999999999999999;
    .bg-top-lower,
    .bg-top-upper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px 150px;
    }
    .bg-top-upper {
        .logo {
            cursor: pointer;
            width: 120px;
            strong{
                color: var(--theme-main-color);
                font-size: 20px;
            }
        }
        .find-product {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #fff;
            border-radius: 5px;
            input {
                width: 400px;
                height: 40px;
                padding: 10px;
                border: none;
                background: transparent;
                color: #fff;
            }
            button {
                height: 40px;
                width: 50px;
                background: transparent;
                border: none;
                i {
                    color: #fff;
                    transition: 0.3s;
                }
                &:hover {
                    i {
                        color: var(--theme-main-color);
                        transition: 0.3s;
                    }
                }
            }
        }
        .buttons {
            color: #fff;
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .bgDropdown {
                .dropdown-items {
                    z-index: 1;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    background: var(--theme-main-color-darker);
                    position: absolute;
                    height: auto;
                    border-radius: 5px;
                    overflow: hidden;
                    width: 150px;
                    a {
                        width: 100%;
                        transition: 0.3s;
                        font-weight: bold;
                        font-size: 15px;
                        padding: 5px 10px;
                        text-decoration: none;
                        &:hover {
                            transition: 0.3s;
                            background: var(--theme-main-color);
                            color: #fff;
                        }
                    }
                }
            }
            a {
                font-size: 24px;
                transition: 0.3s;
                cursor: pointer;
                color: #fff;
                &:hover {
                    transition: 0.3s;
                    color: var(--theme-main-color);
                }
                .amount {
                    position: absolute;
                    top: 0;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }
    .bg-top-lower {
        background: var(--theme-main-color-darker);
        .sub-category {
            cursor: pointer;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }
    }
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(18, 18, 20);
    flex-direction: column;
    .tab {
        margin-left: 3px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        .active {
            background: rgb(32, 32, 36);
        }
        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 5px 10px;
            transition: 0.3s;
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            border: 2px solid rgb(32, 32, 36);
            border-bottom: none;
            border-radius: 20px 20px 0 0;
            margin-right: 3px;
            &:hover {
                background: rgb(32, 32, 36);
            }
        }
    }
    .form {
        width: 500px;
        height: auto;
        margin-left: 50px;
        background-color: rgb(32, 32, 36);
        margin-left: 7px;
        border-radius: 10px;
        .register-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 50px;
            * {
                margin: 5px 0;
                width: 100%;
            }
            .input-with-icon {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                i {
                    position: absolute;
                    top: 30%;
                    left: 15px;
                    width: 10px;
                    color: rgb(32, 32, 36);
                }
                select,
                textarea,
                input {
                    padding: 5px;
                    padding-left: 40px;
                    background: rgb(18, 18, 20);
                    height: 50px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    font-weight: bold;
                    color: #fff;
                }
            }
            button {
                height: 60px;
                border-radius: 5px;
                border: none;
                background: var(--theme-main-color);
                color: #fff;
                font-weight: bold;
                font-size: 20px;
                transition: 0.3s;
                &:hover {
                    background: var(--theme-main-color-darker);
                    transition: 0.3s;
                }
            }
            P {
                color: #fff;
                font-size: 20px;
                margin-top: 30px;
            }
            a {
                margin-top: -5px;
                margin-bottom: 40px;
                font-weight: bold;
                color: var(--theme-main-color);
                text-decoration: none;
                transition: 0.3s;
                &:hover {
                    color: var(--theme-main-color-darker);
                    transition: 0.3s;
                }
            }
            .back-to-login {
                display: flex;
                justify-content: space-between;
                align-items: center;
                i {
                    width: 20px;
                }
                span {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.footer {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: #fff;
    padding-top: 40px;
    .logo-rodape {
        img {
            width: 50px;
            height: 30px;
            display: block;
            margin: 2px auto;
        }
    }
}

body {
    font-family: Verdana, sans-serif;
    font-weight: 400;
    line-height: 1;
    position: relative;
}

body strong {
    font-weight: 700;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

::ng-deep .toast-container {
    white-space: pre-line;
}

::ng-deep .mat-slide-toggle-content {
    color: #fff;
    font-weight: bold;
    font-family: var(--font-family-sans-serif);
}

::ng-deep .mat-accent .mat-slider-thumb,
::ng-deep .mat-accent .mat-slider-thumb-label,
::ng-deep .mat-accent .mat-slider-track-fill,
::ng-deep .mat-accent .mat-slider-thumb,
::ng-deep .mat-accent .mat-slider-thumb-label,
::ng-deep .mat-accent .mat-slider-track-fill,
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--theme-main-color-darker);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.hide {
    display: none;
}

.red{
    color: var(--danger) !important;
}

@media only screen and (max-width: 1250px) {
    .bg-top {
        .bg-top-upper {
            .find-product {
                input {
                    width: 200px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .bg-top {
        .bg-top-upper {
            .logo {
                width: 50px;
            }
            .find-product {
                input {
                    width: 130px;
                }
            }
            .buttons {
                width: 60px;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .bg-top {
        .bg-top-lower,
        .bg-top-upper {
            padding: 20px 50px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .bg-top {
        .bg-top-lower,
        .bg-top-upper {
            padding: 20px 20px;
        }
    }
}
