<div class="page">

    <div class="form">
        <form class="register-form" [formGroup]="form">
            <div class="input-with-icon">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Email" formControlName="email" />
            </div>
            <div class="input-with-icon">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Nome" formControlName="name" />
            </div>
            <div class="input-with-icon">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="CPF/CNPJ" formControlName="cpf" cpfcnpj />
            </div>
            <div class="input-with-icon">
                <mat-slide-toggle  formControlName="blocked">Bloqueados</mat-slide-toggle>
            </div>
            <div class="input-with-icon fw">
                <button (click)="getUsers(form.value)" type="submit">Filtrar</button>
            </div>
        </form>
        <p class="not-found" *ngIf="!dataSource || dataSource.length == 0">Não foram encontrados nenhum resultado</p>
        <table *ngIf="dataSource && dataSource.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="blocked">
                <th mat-header-cell *matHeaderCellDef>Bloqueado</th>
                <td mat-cell *matCellDef="let element"> {{element.blocked ? 'Sim' : 'Não'}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef>CPF/CNPJ</th>
                <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>Editar</th>
                <td mat-cell *matCellDef="let element"><a [routerLink]="'/register/' + element.id" class="edit"><i class="fas fa-pencil-alt"></i></a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>