<app-loading *ngIf="isLoading"></app-loading>
<div class="page">
    <div class="form">
        <form class="register-form" *ngIf="form" [formGroup]="form">

            <div class="image" formGroupName="auxiliaryProperties">
                <a class="image-icon" *ngIf="!getImage()">
                    <i class="fas fa-camera"></i>
                </a>
                <a class="image-icon bgImg" *ngIf="getImage()">
                    <img [src]="getImage()" />
                    <i class="remove-img fas fa-times" (click)="onClickRemoveImage()"></i>
                </a>
                <input type="file" (change)="attachFile($event)" *ngIf="!getImage()">
            </div>

            <div class="input-with-icon">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Nome" formControlName="name" />
            </div>

            <div class="input-with-icon">
                <i class="fas fa-pencil-alt"></i>
                <input type="text" placeholder="Descrição" formControlName="description" />
            </div>

            <div class="input-with-icon" *ngIf="productTypes" tooltip="Tipo do Produto">
                <i class="fas fa-money-check-alt"></i>
                <select formControlName="type">
                    <option *ngFor="let productType of productTypes" [ngValue]="productType.value">
                        {{ productType.label }}
                    </option>
                </select>
            </div>

            <div class="input-with-icon" *ngIf="!getFreeProduct()" tooltip="Valor do Produto">
                <i class="far fa-money-bill-alt"></i>
                <input placeholder="Valor do Produto" formControlName="price" money />
            </div>

            <div class="input-with-icon" tooltip="Saldo">
                <i class="fas fa-wallet"></i>
                <input placeholder="Saldo" formControlName="balance" money />
            </div>

            <div class="input-with-icon" *ngIf="categories" formGroupName="auxiliaryProperties">
                <i class="fas fa-bars"></i>
                <input list="categories" id="category" placeholder="Categoria" formControlName="categoryName" />
                <datalist id="categories">
                    <option *ngFor="let lbCategory of categories">{{ lbCategory.name }}</option>
                </datalist>
            </div>

            <button (click)="onSubmit(form.value)" type="submit">CADASTRAR</button>
            <label for="Input_RememberMe"></label>

        </form>
    </div>
</div>