<app-loading *ngIf="isLoading"></app-loading>
<div class="page">
    <div class="form">
        <div class="register-form">
            <div class="input-with-icon">
                <i class="fas fa-boxes"></i>
                <input type="text" [(ngModel)]="filters.productName" placeholder="Buscar Produto"
                    (keyup.enter)="getProducts()" />
            </div>
            <div class="input-with-icon fw">
                <button type="button" (click)="getProducts()">
                    Filtrar
                </button>
            </div>
        </div>
    </div>
    <div class="bg-products">
        <div class="card" *ngFor="let product of products">
            <div class="image"><img *ngIf="product.auxiliaryProperties && product.auxiliaryProperties.imageUrl"
                    [src]="product.auxiliaryProperties.imageUrl" /></div>
            <div class="description">
                <h5>{{ product.name }}</h5>
                <div class="infos">
                    <p><b>{{ product.balance | quantity }} unidades</b> por <b>R$ {{ product.price | money:'R$'
                            }}</b></p>
                    <button class="info-btn bt-left" type="button" (click)="deleteProduct(product.id)">Deletar
                        Produto</button>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-products" *ngIf="!products">
        <i class="far fa-times-circle"></i>
        <p>Nenhum Produto encontrado</p>
    </div>
    <div class="paginator">
        <a (click)="decrementPage()"><i class="fas fa-angle-left"></i></a>
        <input [(ngModel)]="filters.page" type="number" (change)="changePage()" />
        <a (click)="incrementPage()"><i class="fas fa-angle-right"></i></a>
    </div>
</div>