<app-loading *ngIf="isLoading"></app-loading>
<div class="page">
    <div class="header-info">
        <h1><strong>Master</strong>Piece</h1>
        <p>Doações // Vendas a Preços Acessíveis</p>
    </div>
    <div class="main-color-line"></div>
    <div class="content">
        <div class="container">
            <div class="texts">
                <h1>BEM VINDO A NOSSA LOJA</h1>
                <p>A MasterPiece é um projeto de doações e vendas a preços acessiveis de materiais de construção, sejam eles novos, usados ou sobras de obras de sua construção, visando a melhoria na qualidade de vida das pessoas que aceitem as doações.</p>
            </div>
        </div>
        <h2 class="title"><b></b><span>Pesquisar</span><b></b></h2>
        <div class="bg-products">
            <div class="card category" *ngFor="let category of categories" (click)="onClickFilterProductsByCategory(category.id)">
                <div class="image"><img *ngIf="category.imageUrl" [src]="category.imageUrl" /></div>
                <div class="description">
                    <h5>{{ category.name }}</h5>
                    <p class="show-on-hover">{{ category.products }} produtos</p>
                </div>
            </div>
        </div>
        <h2 class="title"><b></b><span>Produtos em Destaque</span><b></b></h2>
        <div class="bg-products">
            <div class="card" *ngFor="let product of products">
                <div class="image"><img *ngIf="product.auxiliaryProperties && product.auxiliaryProperties.imageUrl" [src]="product.auxiliaryProperties.imageUrl" /></div>
                <div class="description">
                    <h5>{{ product.name }}</h5>
                    <div class="infos">
                        <p *ngIf="product.type == 1"><b>{{ product.balance | quantity }} unidades</b> para <b>Adoção</b></p>
                        <p *ngIf="product.type == 2"><b>{{ product.balance | quantity }} unidades</b> por <b>R$ {{ product.price | money:'R$' }}</b></p>
                        <button class="info-btn bt-left" type="button" (click)="buyProduct(product)">{{ product.type == 1 ? 'Adquirir' : 'Comprar' }}</button>
                        <button class="info-btn bt-right" type="button" (click)="addToCart(product)"><i class="fas fa-shopping-bag"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="title"><b></b><span>Novos Produtos</span><b></b></h2>
        <div class="bg-products">
            <div class="card" *ngFor="let product of products">
                <div class="image"><img *ngIf="product.auxiliaryProperties && product.auxiliaryProperties.imageUrl" [src]="product.auxiliaryProperties.imageUrl" /></div>
                <div class="description">
                    <h5>{{ product.name }}</h5>
                    <div class="infos">
                        <p *ngIf="product.type == 1"><b>{{ product.balance | quantity }} unidades</b> para <b>Adoção</b></p>
                        <p *ngIf="product.type == 2"><b>{{ product.balance | quantity }} unidades</b> por <b>R$ {{ product.price | money:'R$' }}</b></p>
                        <button class="info-btn bt-left" type="button" (click)="buyProduct(product)">Comprar</button>
                        <button class="info-btn bt-right" type="button" (click)="addToCart(product)"><i class="fas fa-shopping-bag"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>