<app-loading *ngIf="isLoading"></app-loading>
<div class="page">
    <div class="content">
        <h2 class="title">Pesquisar</h2>
        <div class="bg-movies">
            <div class="card category" *ngFor="let category of categories"
                (click)="onClickFilterMoviesByCategory(category.id)">
                <div class="image"><img *ngIf="category.imageUrl" [src]="category.imageUrl" /></div>
                <div class="description">
                    <h5>{{ category.name }}</h5>
                    <p class="show-on-hover">{{ category.movies }} filmes</p>
                </div>
            </div>
        </div>
        <h2 class="title">Minha Lista</h2>
        <div class="bg-movies">
            <div class="card" *ngFor="let movie of myList">
                <div class="image" (click)="onClickShowMovie(movie.path)"><img
                        *ngIf="movie.auxiliaryProperties && movie.auxiliaryProperties.imageUrl"
                        [src]="movie.auxiliaryProperties.imageUrl" /></div>
                <div class="description">
                    <a class="send-to-list" (click)="onClickChangeFromList(movie)">
                        <i class="fas fa-star" *ngIf="movie.auxiliaryProperties.addedToList"></i>
                        <i class="far fa-star" *ngIf="!movie.auxiliaryProperties.addedToList"></i>
                    </a>
                    <h5>{{ movie.name }}</h5>
                    <div class="infos">
                        <p>{{movie.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="title">filmes em Destaque</h2>
        <div class="bg-movies">
            <div class="card" *ngFor="let movie of movies">
                <div class="image" (click)="onClickShowMovie(movie.path)"><img
                        *ngIf="movie.auxiliaryProperties && movie.auxiliaryProperties.imageUrl"
                        [src]="movie.auxiliaryProperties.imageUrl" /></div>
                <div class="description">
                    <a class="send-to-list" (click)="onClickChangeFromList(movie)">
                        <i class="fas fa-star" *ngIf="movie.auxiliaryProperties.addedToList"></i>
                        <i class="far fa-star" *ngIf="!movie.auxiliaryProperties.addedToList"></i>
                    </a>
                    <h5>{{ movie.name }}</h5>
                    <div class="infos">
                        <p>{{movie.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="title">Novos Filmes</h2>
        <div class="bg-movies">
            <div class="card" *ngFor="let movie of movies">
                <div class="image" (click)="onClickShowMovie(movie.path)"><img
                        *ngIf="movie.auxiliaryProperties && movie.auxiliaryProperties.imageUrl"
                        [src]="movie.auxiliaryProperties.imageUrl" /></div>
                <div class="description">
                    <a class="send-to-list" (click)="onClickChangeFromList(movie)">
                        <i class="fas fa-star" *ngIf="movie.auxiliaryProperties.addedToList"></i>
                        <i class="far fa-star" *ngIf="!movie.auxiliaryProperties.addedToList"></i>
                    </a>
                    <h5>{{ movie.name }}</h5>
                    <div class="infos">
                        <p>{{movie.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>