<app-loading *ngIf="isLoading"></app-loading>
<div class="page">
    <div class="sales" *ngIf="data && data.length">
        <div class="sale" *ngFor="let item of data">
            <div class="header-infos">
                <div class="titles">
                    <div class="item">
                        Data de Cadastro
                    </div>
                    <div class="item">
                        Data de Entrega
                    </div>
                    <div class="item">
                        Nome
                    </div>
                    <div class="item">
                        Total
                    </div>
                </div>
                <div class="infos">
                    <div class="item">
                        {{item.sale.registryDate | date: 'dd/MM/yyyy' }}
                    </div>
                    <div class="item">
                        {{item.sale.deliveryDate | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="item">
                        {{item.sale.userName}}
                    </div>
                    <div class="item">
                        {{item.sale.total | money: 'R$'}}
                    </div>
                </div>
            </div>
            <div class="products" *ngIf="item.products">
                <div class="titles">
                    <div class="item">
                        Foto
                    </div>
                    <div class="item">
                        Nome
                    </div>
                    <div class="item">
                        Preço
                    </div>
                    <div class="item">
                        Quantidade
                    </div>
                </div>
                <div class="product" *ngFor="let product of item.products">
                    <div class="item">
                        <img *ngIf="product.auxiliaryProperties && product.auxiliaryProperties.imageUrl"
                            [src]="product.auxiliaryProperties.imageUrl" />
                    </div>
                    <div class="item">
                        {{product.name}}
                    </div>
                    <div class="item" *ngIf="product.type == 1">
                        Adoção
                    </div>
                    <div class="item" *ngIf="product.type == 2">
                        {{ product.price | money:'R$' }}
                    </div>
                    <div class="item">
                        {{product.balance | quantity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>