<app-loading *ngIf="isLoading"></app-loading>

<div class="page">
    <div class="tab">
        <button type="button" class="tablinks" [ngClass]="{ 'active': tab == 0 }" (click)="onClickChangeTab(0)">Dados
            Pessoais</button>
        <button type="button" class="tablinks" [ngClass]="{ 'active': tab == 1 }" (click)="onClickChangeTab(1)">Endereço</button>
    </div>
    <div class="form">
        <form *ngIf="form" class="register-form" [formGroup]="form">

            <div class="input-with-icon" *ngIf="loggedUser && loggedUser.admin">
                <mat-slide-toggle  formControlName="blocked">Bloquear</mat-slide-toggle>
            </div>

            <ng-container *ngIf="tab == 0">
                <div class="input-with-icon">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Nome" formControlName="name" />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-sort-numeric-up"></i>
                    <input type="text" placeholder="CPF/CNPJ" formControlName="cpf" cpfcnpj />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" formControlName="email" />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Senha" formControlName="password" />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirme sua Senha" formControlName="confirmPassword" />
                </div>
            </ng-container>

            <ng-container *ngIf="tab == 1" formGroupName="address">
                <div class="input-with-icon">
                    <i class="fas fa-road"></i>
                    <input type="text" placeholder="Rua" formControlName="street" />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-list-ol"></i>
                    <input placeholder="Número" formControlName="number" />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-lock"></i>
                    <input type="text" placeholder="Bairro" formControlName="neighborhood" />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-list-ol"></i>
                    <input type="text" placeholder="CEP" formControlName="zipCode" zipCode />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-city"></i>
                    <input type="text" placeholder="Cidade" formControlName="city" />
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-city"></i>
                    <input type="text" placeholder="Estado" formControlName="state" />
                </div>
            </ng-container>

            <button (click)="onSubmit(form.value)" type="submit">CADASTRAR</button>

            <a class="back-to-login" [routerLink]="['/login']"><i class="fa fa-arrow-left"></i> <span>Voltar para
                    Login</span></a>

        </form>
    </div>
</div>